@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR&display=swap');

* {
  margin:0;
  padding:0;
  font-family: "Playwrite AR", cursive;
}

body{
  background-color: #E63946;
}

#hide{
  transition: opacity 2s ease-out;
  opacity: 0;
  height: 0;
}

.main{
  padding-top: 20vh;
  padding-bottom: 0;
  margin-bottom: 0;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  
}
h1{
  text-align:center;
 
  color: #F1FAEE; 
  font-size: 3rem;
}

.rolltext{
  color: rgb(6, 19, 74);
}


#spare-time{
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #420648;
  
}


@media screen and (max-width: 600px){
  h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 2.125rem;
}
  

  
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
}


.dollop{
  padding-top: 0vh;
  display: flex;
  justify-content: center;
}

.dollop-img{
  padding-top: 0vh;
  height: 50vh;
}